@import "~scss/variables";

$custom-bonus-system-condition-list-color-error: $color-crimson-500;
$custom-bonus-system-condition-list-color-success: $color-emerald-500;

.custom-bonus-system-condition {
    .custom-bonus-system-condition-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .is--inactive {
        color: $custom-bonus-system-condition-list-color-error;
        padding: 3px;
    }

    .is--active {
        color: $custom-bonus-system-condition-list-color-success;
        padding: 3px;
    }
}
