<div class="bonus-system-get-points-container">
    {% sw_include '@Storefront/storefront/component/bonus/bonus-brand.html.twig' %}
    <div class="bonus-text">
        {{ "custom-bonus-system.checkout.getPointsText"|trans({'%points%': customBonusSystemPoints}) }}
    </div>
    <div class="clearfix"></div>
</div>
