.checkout-aside-container {
    .checkout-aside-bonus-point-get-value {
        text-align: right;
        color: #3cc261;
    }

    .checkout-aside-bonus-point-redeem-value {
        text-align: right;
        color: #e52427;
    }

    .bonus-brand {
        line-height: 18px;
        background-color: #f1c40f;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        position: relative;
        float: left;
        margin-top: 2px;
    }
    .bonus-brand.has-icon {
        border: 0;
        font-size: 0;
        padding-left: 0;
        .rounded-circle {
            width: 22px;
            height: 22px;
        }
    }
}
